<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
      {{>header}}
      <p>Hello my name is Parthdhwajendra Mishra. I am  learning web and I have created this small web page
        I need your support please contribute by filling form.
      </p>
      
   </div>


{{>footer}}

</body>

</html>